.u-section-1 {
  background-image: url("images/FN-27aDX0AEvwDM.jfif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 874px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  border-style: solid;
  animation-duration: 1000ms;
  text-transform: uppercase;
  font-weight: 800;
  margin: 220px auto 0 -116px;
  padding: 26px 87px 27px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 800;
  text-transform: uppercase;
  animation-duration: 1000ms;
  margin: 24px auto 0 -116px;
  padding: 26px 86px 28px 85px;
}

.u-section-1 .u-btn-3 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 800;
  text-transform: uppercase;
  animation-duration: 1000ms;
  margin: 30px auto 60px -116px;
  padding: 26px 87px 28px 86px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 552px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 414px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 65.32% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 261px;
  }
}.u-section-2 {
  min-height: 1588px;
}

.u-section-2 .u-image-1 {
  height: 1598px;
  margin-top: -5px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: normal;
  width: 441px;
  margin: -1490px auto 0;
}

.u-section-2 .u-group-1 {
  width: 534px;
  background-image: none;
  min-height: 376px;
  height: auto;
  margin: 917px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 25px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 -16px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: -11px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: -16px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-top: 1100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-3 {
  background-image: url("images/FNhAv1IWUAgbxAr.jfif");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1623px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: normal;
  width: 216px;
  font-size: 3rem;
  margin: 88px 462px 0;
}

.u-section-3 .u-group-1 {
  width: 254px;
  min-height: 386px;
  height: auto;
  margin: 588px auto 0 228px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-3 .u-image-1 {
  height: 195px;
  width: 195px;
  background-image: url("images/FN1H_JEXwAE0tu_.jfif");
  background-position: 50% 50%;
  margin: 14px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 600;
  margin: 14px 1px 0;
}

.u-section-3 .u-group-2 {
  width: 254px;
  min-height: 385px;
  height: auto;
  margin: -33px 113px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 5px 0 30px;
}

.u-section-3 .u-group-3 {
  width: 254px;
  min-height: 386px;
  height: auto;
  margin: -385px auto 0 -143px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-3 .u-image-2 {
  height: 195px;
  width: 195px;
  background-image: url("images/FN1H_JEXwAE0tu_.jfif");
  background-position: 50% 50%;
  margin: 14px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 600;
  margin: 14px 1px 0;
}

.u-section-3 .u-image-3 {
  height: 195px;
  width: 195px;
  background-image: url("images/FN1H_JEXwAE0tu_.jfif");
  background-position: 50% 50%;
  margin: 14px 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 600;
  margin: 4px 14px 0 -12px;
}

.u-section-3 .u-group-4 {
  width: 254px;
  min-height: 385px;
  height: auto;
  margin: -385px auto 0 76px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-3 .u-image-4 {
  height: 195px;
  width: 195px;
  background-image: url("images/FN1H_JEXwAE0tu_.jfif");
  background-position: 50% 50%;
  margin: 14px 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 600;
  margin: 4px 1px 0;
}

.u-section-3 .u-group-5 {
  width: 254px;
  min-height: 385px;
  height: auto;
  margin: -385px auto 60px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 30px 0;
}

.u-section-3 .u-image-5 {
  height: 195px;
  width: 195px;
  background-image: url("images/FN1H_JEXwAE0tu_.jfif");
  background-position: 50% 50%;
  margin: 14px 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 600;
  margin: 4px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1338px;
  }

  .u-section-3 .u-text-1 {
    color: rgb(255, 78, 190) !important;
    margin-left: 362px;
    margin-right: 362px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-image-1 {
    height: 194px;
    width: 194px;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-image-2 {
    height: 199px;
    width: 199px;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-image-4 {
    height: 199px;
    width: 199px;
  }

  .u-section-3 .u-group-5 {
    height: auto;
  }

  .u-section-3 .u-image-5 {
    height: 199px;
    width: 199px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 252px;
    margin-right: 252px;
  }

  .u-section-3 .u-image-2 {
    height: 194px;
    width: 194px;
  }

  .u-section-3 .u-image-4 {
    height: 194px;
    width: 194px;
  }

  .u-section-3 .u-image-5 {
    height: 194px;
    width: 194px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 162px;
    margin-right: 162px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 162px;
    width: 162px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 167px;
    width: 167px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    margin-top: 11px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    height: 170px;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 62px;
    margin-right: 62px;
  }

  .u-section-3 .u-group-1 {
    margin-left: 86px;
  }

  .u-section-3 .u-group-2 {
    margin-right: 86px;
  }

  .u-section-3 .u-image-2 {
    height: 133px;
    width: 133px;
    margin-top: -30px;
    margin-left: -5px;
    margin-right: -5px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-3 .u-image-4 {
    height: 133px;
    width: 133px;
    margin-top: -30px;
    margin-left: -7px;
    margin-right: -7px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 13px;
    margin-right: -10px;
  }

  .u-section-3 .u-image-5 {
    height: 133px;
    width: 133px;
    margin-top: -10px;
    margin-left: -3px;
    margin-right: -3px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 10px;
    margin-right: 7px;
    margin-left: -5px;
  }
}.u-section-4 {
  background-image: url("images/FNBydxTWQAsUgUE.jfif");
}

.u-section-4 .u-sheet-1 {
  min-height: 2137px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 800;
  margin: 49px 397px 0 420px;
}

.u-section-4 .u-group-1 {
  width: 1041px;
  background-image: none;
  min-height: 838px;
  height: auto;
  margin: 1163px auto 22px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px 29px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 26px 0 -4px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1762px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 297px;
    margin-left: 320px;
  }

  .u-section-4 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: -11px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1350px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 187px;
    margin-left: 210px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1013px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 97px;
    margin-left: 120px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
    margin-left: 17px;
  }
}.u-section-5 {
  background-image: url("images/FOdPaYFX0AIrECg.jfif");
}

.u-section-5 .u-sheet-1 {
  min-height: 714px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 589px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 451px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 338px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 213px;
  }
}